@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.correct {
  color: #42ba96;
}

.incorrect {
  color: #df4759;
}

#stats-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}

.switch-container {
  font-size: 1.5rem;
}

.switch-icon {
  padding-left: 1rem;
}

#random-text {
  font-size: auto;
  line-height: 1.5;
}
